absl-py==0.4.1
appnope==0.1.0
astor==0.7.1
atomicwrites==1.1.5
attrs==18.1.0
awscli==1.16.76
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==2.1.2
boto3==1.9.66
botocore==1.12.66
certifi==2018.4.16
chardet==3.0.4
cloudpickle==0.5.3
colorama==0.3.9
cycler==0.10.0
cymem==1.31.2
Cython==0.28.3
cytoolz==0.8.2
decorator==4.3.0
dill==0.2.7.1
docutils==0.14
en-core-web-sm==2.0.0
entrypoints==0.2.3
featuretools==0.1.21
ftfy==4.4.3
future==0.16.0
gast==0.2.0
google==2.0.1
grpcio==1.14.2
gtfs-realtime-bindings==0.0.5
h5py==2.8.0
haversine==0.4.5
html5lib==1.0b8
hypothesis==2.0.0
idna==2.6
imutils==0.5.2
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
jedi==0.12.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kaggle==1.3.9
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
lxml==4.2.1
Markdown==2.6.11
markovify==0.7.1
MarkupSafe==1.0
matplotlib==2.2.2
mido==1.2.9
mistune==0.8.3
mobilechelonian==0.5
more-itertools==4.2.0
mpmath==1.0.0
msgpack-numpy==0.4.1
msgpack-python==0.5.4
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.2.5
notebook==5.5.0
numpy==1.14.2
opencv-python==4.0.0.21
pandas==0.23.0
pandocfilters==1.4.2
parso==0.2.1
pathlib==1.0.1
pbr==4.0.4
pexpect==4.6.0
pickleshare==0.7.4
Pillow==9.3.0
plac==0.9.6
pluggy==0.6.0
praw==5.4.0
prawcore==1.0.0
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.5.2
py==1.5.3
pyasn1==0.4.4
pydotplus==2.0.2
pygame==1.9.4
Pygments==2.2.0
Pympler==0.5
pyparsing==2.2.0
pytesseract==0.2.2
pytest==3.6.1
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
rake-nltk==1.0.3
regex==2017.4.5
requests==2.18.4
rsa==3.4.2
s3fs==0.1.5
s3transfer==0.1.13
scattertext==0.0.2.27.1
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
spacy==2.0.10
stevedore==1.28.0
sympy==1.2
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
terminado==0.8.1
tesseract==0.1.3
testpath==0.3.1
thinc==6.10.2
toolz==0.9.0
tornado==5.0.2
tqdm==4.23.4
traitlets==4.3.2
ujson==1.35
Unidecode==1.0.22
update-checker==0.16
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
wordcloud==1.4.1
wrapt==1.10.11
xlrd==1.1.0
